/**
 * @license
 * MyFonts Webfont Build ID 3689266, 2018-12-18T11:48:59-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: AvenirLTPro-Roman by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir/pro-55-roman/
 * 
 * Webfont: AvenirLTPro-Medium by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir/pro-65-medium/
 * 
 * Webfont: AvenirLTPro-Black by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/avenir/pro-95-black/
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3689266
 * Licensed pageviews: 250,000
 * Webfonts copyright: Copyright &#x00A9; 2014 Monotype GmbH. All rights reserved.
 * 
 * © 2018 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/384b32");

  
@font-face {font-family: 'AvenirLTPro-Roman';src: url('webfonts/384B32_0_0.eot');src: url('webfonts/384B32_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/384B32_0_0.woff2') format('woff2'),url('webfonts/384B32_0_0.woff') format('woff'),url('webfonts/384B32_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AvenirLTPro-Medium';src: url('webfonts/384B32_1_0.eot');src: url('webfonts/384B32_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/384B32_1_0.woff2') format('woff2'),url('webfonts/384B32_1_0.woff') format('woff'),url('webfonts/384B32_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AvenirLTPro-Black';src: url('webfonts/384B32_2_0.eot');src: url('webfonts/384B32_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/384B32_2_0.woff2') format('woff2'),url('webfonts/384B32_2_0.woff') format('woff'),url('webfonts/384B32_2_0.ttf') format('truetype');}
 