body.page-template-contact {

	section.main{
		padding: 50px 0;

		@include tablet-portrait {
			padding: 100px 0  0 0;
		}
		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;			
		}
	}

	section.page-header {
		width: 100%;
		padding-top: 0;

		@include tablet-portrait {
			width: 45%;
		}
		.copy {
			padding-top: 25px;
			max-width: 600px;
		}
	}

	section.contact-form {
		padding-top: 50px;

		.nf-form-title,
		.nf-before-form-content {
			display: none;
		}

		.nf-error-msg,
		.ninja-forms-req-symbol {
			color: red;
		}

		.nf-error .ninja-forms-field {
			border-color: red;
		}	

		.nf-field-label {
			margin-bottom: 5px;
			label {
				font-weight: 400;
				font-size: 0.875em;
			}
		}

		.nf-after-field .nf-error-msg {
			padding-top: 5px;
			font-size: 0.875em;
		}

		.nf-field-element > *:active,
		.nf-field-element > *:focus {
			outline: none;
		}

		.nf-field-element input,
		.nf-field-element textarea {
			height: 50px;
			padding: 10px;
			font-size: 1.25em;
			border: 1px solid $light-gray;

		}
		
		.nf-field-element select {
			height: 50px;
			appearance: none;
			padding: 10px;
			background: $white;
			border-radius: 0;
			border-color: 1px solid $light-gray;
		}

		.list-select-wrap .nf-field-element:after {
			display: block;
			content: '';
			width: 20px;
			height: 15px;
			background: url(images/down-arrow-blue.svg) no-repeat 0 0;
			background-size: 100%;
			position: absolute;
			right: 20px;
			top: 20px;
			z-index: 10;
		}

		.nf-field-element textarea {
			height: 200px;

		}

		.submit-wrap {
			.nf-field-element { 
				display: inline-block;
				width: auto;
				@include fold($blue, $white);

				&:hover {
					@include fold($white, $white);


				}



				input {
					font-family: $avenir-black;
					font-weight: normal;
					text-transform: uppercase;
					border: none;
					display: inline-block;
					padding: 0 30px;
					line-height: 48px;
					font-size: 1em;
					height: 45px;
					position: relative;
					background: $off-white;
					color: $slate;
					transition: all 0.2s ease-in;


					&:hover {
						background: $blue;
					}

					@include tablet-landscape {
						padding: 0 35px;
						font-size: 1.25em;
						height: 57px;
						line-height: 60px;
					}
				}
			}
		}
	}


	section.contact-info {
		width: 100%;
		background: $seafoam;
		color: $charcoal;
		padding: 50px;

		@include tablet-portrait {
			width: 45%;
			max-width: 524px;
		}

		.contact-type {

			& + .contact-type {
				padding-top: 40px;
			}

			h3 {
				font-size: 1.5em;
				padding-bottom: 5px;

				&:before {
					content: '';
					display: block;
					margin-bottom: 15px;
				}
			}

			&.address {
				h3:before {
					width: 34px;
					height: 33px;
					background: url(images/address.png) no-repeat 0 0;
				}
			}

			&.phone {
				h3:before {
					width: 36px;
					height: 36px;
					background: url(images/phone.png) no-repeat 0 0;
				}

				a {
					text-decoration: underline;
				}

				h3 {
					a {
						color: #424242;
					}
				}
			}

			p {
				font-size: 1.125em;
				line-height: 1.5em;

			}
		}
	}
}