body.page-template-faq {

	section.page-header {
		.copy {
			padding-top: 25px;
			max-width: 600px;
		}

		.section-links {
			padding-top: 50px;
			display: flex;
			flex-wrap: wrap;

			.section-anchor {
				width: 100%;				

				& + .section-anchor {
					margin-top: 20px;
				}

				@include tablet-portrait {
					width: auto;

					& + .section-anchor {
						margin-left: 50px;
						margin-top: 0;
					}

				}


				a {
					font-weight: bold;
					font-size: 0.875em;
					border-bottom: 2px solid rgba(0, 0, 0, 0.25);

					&:hover {
						border-bottom: 2px solid rgba(0, 0, 0, 0.5);
					}
				}
			}
		}
	}

	section.category {
		padding-bottom: 50px;

		@include tablet-portrait {
			padding-bottom: 100px;
		}

		.headline {
			padding-bottom: 25px;
		}

		.question-wrapper {
			padding: 25px 0;
			border-bottom: 1px solid $charcoal;

			.question {
				h3 {
					a {
						color: $blue;
						display: flex;
						align-items: center;
						font-size: 1em;

						@include tablet-portrait {
							font-size: 1.25em;
						}

						span {
							flex: 1;
						}

						&:before {
							content: '+';
							width: 48px;
							height: 48px;
							background: $blue;
							color: $white;
							font-size: 1.5em;
							display: flex;
							justify-content: center;
							align-items: center;
							text-align: center;
							border-radius: 50%;
							margin-right: 20px;
							padding: 0;							
						}
					}
	
				}
			}

			.answer {
				display: none;
				max-width: 800px;
				padding-top: 25px;


			}
		}
	}


}