footer.site-footer {
	background: $dark-blue;
	color: $white;
	padding: 50px 0;
	margin-top: 50px;

	@include molecules-small;

	&:before {
		position: absolute;
		top: calc(-89px + 25px);
		right: 25px;
		z-index: -1;

		@include-landscape {
			top: calc(-118px + 25px);
		}
	}


	@include tablet-portrait {
		padding: 60px 0;
	}

	a {
		color: $white;

		&:hover {
			text-decoration: underline;
		}
	}

	@include tablet-portrait {
		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.newsletter {
			width: calc(70% - 50px);
			border-right: 2px solid $white;
			padding: 0 50px 0 0;
		}

		.contact-info {
			width: calc(30%);
			padding: 0;
		}

		.copyright {
			width: 100%;
		}
	}

	.newsletter {


	}

	.contact-info {
		padding-top: 80px;

		@include tablet-portrait {
			padding-top: 0;
		}

		.headline {
			padding-bottom: 20px;

			h4 {
				display: inline-block;
				border-bottom: 1px solid;

				a:hover {
					text-decoration: none;
				}
			}
		}

		.social {
			padding: 25px 0 40px 0;
			display: flex;
			align-items: center;

			a {
				display: block;
				max-width: 24px;

				img {
					width: 100%;
				}

				& + a {
					margin-left: 20px;
				}
			}

		}


		.badges {
			display: flex;
			align-items: center;
			.badge {
				a {
					display: block;
				}
				

				& + .badge {
					margin-left: 5px;
				}
			}
		}
	}

	.copyright {
		padding-top: 50px;

		@include tablet-portrait {
			padding-top: 15px;
		}

		a {
			text-decoration: underline;
		}

	}



	.ctct-form-embed.form_1 .ctct-form-defaults {
		background: transparent;
		padding: 0;
		border-radius: none;
		font: 400 100%/1 "AvenirLTPro-Roman", sans-serif;
		color: $white;

		& * {
			font: 400 100%/1 "AvenirLTPro-Roman", sans-serif;
			color: $white;
		}
	}

	.ctct-form-embed.form_1 .ctct-form-defaults .ctct-form-header {

		font-size: 1.25em;
		line-height: 1.125em;
		font-family: $avenir-black;
		padding-bottom: 10px;
		
		@include tablet-landscape {
			font-size: 1.5em;
		}
	}

	div.ctct-form-embed div.ctct-form-defaults p.ctct-form-text {
		font-size: 1em;
		line-height: 1.7777em;

		@include tablet-landscape {
			font-size: 1.25em;
		}
	}

	div.ctct-form-embed form.ctct-form-custom input.ctct-form-element {
		width: 100%;
		max-width: 480px;
		height: 43px;
		line-height: 43px;
		border: none;
		padding: 10px;
		border-radius: 0;
		color: $slate;

		@include tablet-landscape {
			height: 57px;
			line-height: 57px;
		}

		&:active,
		&:focus {
			outline: none;
		}
	}


	.ctct-form-embed.form_1 .ctct-form-custom .ctct-form-button {
		font-family: $avenir-black;
		font-weight: normal;
		text-transform: uppercase;
		border: none;
		display: inline-block;
		padding: 0 30px;
		line-height: 48px;
		font-size: 1em;
		height: 45px;
		position: relative;
		transition: all 0.2s ease-in;
		background: $white;
		color: $slate;
		width: auto;
		border-radius: 0;
		@include fold($blue, $dark-blue);


		&:focus,
		&:active {
			outline: none;
		}

		@include tablet-landscape {
			padding: 0 35px;
			font-size: 1.25em;
			height: 57px;
			line-height: 60px;
		}
	}

	#gdpr_text,
	.g-recaptcha {
		display: none;
	}
}

#back-to-top {
	position: fixed;
	right: 20px;
	bottom: -84px;
	z-index: 20;
	width: 84px;
	margin-left: auto;
	transition: all 0.3s ease-in;

	a {
		display: flex;
		flex-direction: column;
		align-items: center;
	}


	.icon {
		background: $red;
		width: 40px;
		height: 40px;
		padding: 10px;
		border-radius: 50%;

		@include tablet-portrait {
			width: 52px;
			height: 52px;
			padding: 16px
		}
	}


	.label {
		padding-top: 10px;

		span {
			font-weight: 900;
			text-transform: lowercase;
			font-size: 0.875em;

			@include tablet-portrait {
				font-size: 0.9375em;
			}
		}
	}
}

body.past-fold {
	#back-to-top {
		bottom: 20px;
	}
}

