section.site-header {
	background: $blue;
	color: $white;
	padding: 25px 0;
	height: 86px;
	z-index: 10;

	@include tablet-portrait {
		padding: 40px 0;
		height: auto;
	}

	.wrapper {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		position: static;

		@include desktop {
			position: relative;
		}
	}

	.mobile-menu {
		@include tablet-portrait {
			display: none;
		}

		.menu-btn {
		  display: block;
		  width: 36px;

			&:before,
			&:after {
				background-color: #fff;
				content: '';
				display: block;
				height: 3px;
				transition: all 200ms ease-in-out;
			}

			&:before {
				box-shadow: 0 10px 0 #fff;
				margin-bottom: 18px;
			}

			&.active {
				&:before {
				  box-shadow: 0 0 0 #fff;
				  transform: translateY(10px) rotate(45deg);
				}
				&:after{
				  transform: translateY(-11px) rotate(-45deg);
				}
			}
		}
	}

	.logo {
		max-width: 175px;

		@include tablet-portrait {
			max-width: 150px;
		}

		@media screen and (min-width: 860px) {
			max-width: 220px;
		}

		@media screen and (min-width: 940px) {
			max-width: 300px;
		}

		@media screen and (min-width: 1024px) {
			max-width: 200px;
		}

		@media screen and (min-width: 1124px) {
			max-width: 300px;
		}



		a {
			display: block;
		}
	}

	.cart-link {
		max-width: 32px;
		margin-left: auto;
		margin-right: 30px;
		transform: translateY(5px);

		@include tablet-portrait {
			margin:  0;
			max-width: 24px;
			position: absolute;
			top: 15px; 
			right: 25px;
		}

		@include tablet-landscape {
			position: static;
			max-width: 32px;
			margin-left: 40px;
			transform: translateY(10px);
		}

		.menu-item-bigcommerce-cart {
			a {
				display: block;
				background: url(images/shopping-cart-icon.png) no-repeat 0 0;
				background-size: 100%;
				color: transparent;
				width: 32px;
				height: 32px;

				.bigcommerce-cart__item-count {
					position: absolute;
					top: -15px;
					right: -15px;
					background: $black;
					border-radius: 50%;
					line-height: 2.375em;
				}
			}
		}


	}

	nav.desktop {
		display: none;

		@include tablet-portrait {
			display: flex;
			margin-left: auto;
			transform: translateY(10px);

			a {
				color: $white;
				font-size: 0.875em;
				font-family: $avenir-black;
				margin: 0 10px;
				position: relative;

				span {
					display: inline-block;
					padding-bottom: 4px;
					border-bottom: 2px solid transparent;
					transition: all 0.2s ease;
				}

				&:hover,
				&.active-link {
					span {
						border-bottom: 2px solid rgba(255, 255, 255, 0.5);
					}
				}

				&.dropdown {
					padding-right: 26px;
					&:after {
						display: block;
						content: '';
						width: 16px;
						height: 12px;
						background: url(images/down-arrow.svg) no-repeat 0 0;
						background-size: 100%;
						position: absolute;
						right: 0;
						top: 0;

						@include desktop {
							width: 20px;
							height: 16px;
						}
					}
				}

				&:last-of-type {
					margin-right: 0;;
				}

				@include tablet-landscape {
					font-size: 1em;
					margin: 0 20px;
				}

				@include desktop {
					font-size: 1.25em;
				}
			}
		}
	}

	.utility-nav.desktop {
		display: none;

		@include tablet-portrait {
			display: flex;

			position: absolute;
			width: 400px;
			z-index: 20;
			top: 19px;
			right: calc(30px + 24px + 20px);
		}

		@include tablet-landscape {
			right: 25px;
			top: 15px;
		}

		@include desktop {
			right: 0;
			top: -10px;
		}

		.utility-wrapper {
			display: flex;
			align-items: flex-start;
			justify-content: flex-end;
			width: 100%;
			margin-left: auto;


		}

		.search {
			padding-right: 10px;

			form {
				display: flex;
				align-items: flex-end;
				width: 223px;
			}


			.search-field {
				appearance: none;
				background: $blue;
				border: none;
				border-bottom: 1px solid $white;
				color: $white;
				padding-left: 1px;
				font-size: 0.75em;
				max-width: 195px;
				width: 100%;
				margin-right: 5px;

				@include placeholder {
					color: $white;
				}

				&:focus,
				&:active {
					outline: 0;
				}
			}

			.search-submit {
				background: transparent url(images/search.svg) no-repeat 0 0;;
				border: none;
				text-indent: -9999px;
				width: 18px;
				height: 18px;
				display: inline-block;
				padding: 0;
				margin: 0;
				background-size: cover;
			}


		}

		a {
			font-size: 0.75em;
			color: $white;
			border-bottom: 1px solid;
			padding-bottom: 5px;
			display: block;

			@include desktop {
				font-size: 0.875em;
			}

			& + a {
				margin-left: 20px;
			}
		}
	}


}