body.home {

	section.hero-slider {
		margin-bottom: -50px;

		.hero-slide {
			&:active,
			&:focus {
				outline: none;
			}

			.photo {
				@include aspect-ratio(4,3);

				@include tablet-portrait {
					@include aspect-ratio(136,49);
				}
				
			}

			.content {
				display: flex;
				align-items: flex-end;
			}

			.info {
				background: $white;
				max-width: 950px;
				width: 90%;
				margin: 0 auto;
				transform: translateY(-50px);
				padding: 100px 40px 25px 40px;

				@include tablet-portrait {
					padding: 100px 70px 25px 70px;
					transform: translateY(-90px);
				}

				.headline,
				.copy {
					padding-bottom: 25px;
				}


				.cta {
					a {
						@include fold($charcoal, $white);

						&:hover {
							background: $charcoal;
						}
					}
				}
			}
		}

		.slick-prev,
		.slick-next {
			transform: translateY(-15px);
			z-index: 2;

			@include tablet-portrait {
				transform: translateY(-60px);
			}
		}
		.slick-dots {
			transform: translateY(-10px);
			z-index: 1;

			@include tablet-portrait {
				transform: translateY(-52px);
			}
		}

		.slick-prev {
			left: calc(50% - 100px);
		}

		.slick-next {
			right: calc(50% - 100px);
		}

	}


	section#about {
		background-image: url(images/molecules-bg.jpg);

		@include desktop {
			padding: 100px 0;
		}
		
		.wrapper {
			padding: 0;
		}

		.about-wrapper {
			background: $seafoam;
			padding: 50px 25px;

			@include molecules-small;

			&:before {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 0;

				@include tablet-portrait {
					top: 80px;
				}

				@include tablet-landscape {
					left: 100px;
				}
			}

			@include tablet-portrait {
				display: flex;
				justify-content: space-between;

				.info,
				.about-nav {
					width: 45%
				}
			}

			@include tablet-landscape {
				padding: 50px 100px;
			}
		}

		.info {
			padding: 0 0 50px 0;


			@include tablet-portrait {
				padding: 80px 0 0 0;
			}

			.icon {
				max-width: 64px;
				padding-bottom: 25px;

				@include tablet-landscape {
					max-width: 96px;

				}
			}

			.headline {
				padding-bottom: 25px;
			}

			.copy {
				padding-bottom: 25px;
			}

			.cta {
				.btn {
					@include fold($blue, $seafoam);

					&:hover {
						background: $blue;
						color: $white;
					}

				}
			}
		}

		.about-nav {
			.headline {
				text-align: center;
				padding-bottom: 25px;

				h3 {
					color: $charcoal;
				}
			}

			.item-wrapper {

				.item {
					background: $white;
					display: flex;
					align-items: center;
					transition: background 0.2s ease-in;

					@include fold($blue, $seafoam);
							
					&:hover {
						background: $blue;

						.link {
							a {
								color: $white;
							}
						}
					}

					& + .item {
						margin-top: 15px;
					}

					.image {
						overflow: hidden;
						max-width: 50%;
					
						a {
							display: block;
							width: 260px;
							height: 120px;
							background-size: 75%;
							background-position: 0 -20px;							
						}
					}

					.link {
						flex: 1;
						display: flex;
						justify-content: center;
						text-align: center;
						padding: 0 20px;

						a {
							font-family: $avenir-black;
							text-decoration: underline;
							display: inline-block;
							line-height: 1.25em
						}
					}
				}
			}
		}
	}


	section#offer {
		padding: 50px 0 75px 0;

		@include tablet-landscape {
			padding: 100px 0 150px 0;
		}

		.offer-wrapper {
			border: 10px solid $dark-blue;
			padding: 150px 25px 50px 25px;
			@include molecules-small;

			&:before {
				position: absolute;
				top: -50px;
				left: -50px;
				z-index: -1;
			}

			@include tablet-portrait {
				display: flex;

				.photo {
					width: 50%;
				}

				.info {
					width: 50%;
				}
			}
		}

		.banner {
			background: $dark-blue;
			color: $white;
			max-width: 420px;
			width: 80%;
			text-align: center;
			padding: 40px 25px;
			position: absolute;
			top: -90px;
			left: 10%;

			@include tablet-portrait {
				left: 90px
			}

			h3 {
				font-size: 3.5em;
				padding-bottom: 10px;

				@include tablet-landscape {
					font-size: 4.5em;
				}
			}

			h4 {
				font-size: 0.875em;
				text-transform: uppercase;
				letter-spacing: 0.15em;
				line-height: 1.5em;

			}
		}

		.photo {
			padding-bottom: 25px;
			display: flex;
			justify-content: center;

			img {
				max-height: 200px;
				margin: 0 auto;

				@include tablet-portrait {
					max-height: 400px;
					position: absolute;
					left: 75px;
				}

				@include tablet-landscape {
					max-height: 550px;
					bottom: -200px;
				}

				@include desktop {
					bottom: -225px;
				}
			}
		}

		.headline {
			padding-bottom: 25px;
		}

		.copy {
			padding-bottom: 25px;

			@include tablet-landscape {
				padding-bottom: 50px;
			}
		}

		.cta {
			.btn {
				@include fold($charcoal, $white);

				&:hover {
					background: $charcoal;
				}
			}
		}
	}


	section#resources {
		margin-bottom: -45px;

		@include tablet-portrait {
			padding-top: 75px;
		}
		
		.wrapper {
			padding: 0;
			max-width: 100%;

			@include tablet-portrait {
				display: flex;
				align-items: center;
			}
		}

		.photo {

			@include tablet-portrait {
				width: 50%;
				padding: 100px 0;

				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 75%;
					height: 100%;
					background: url(images/molecules-bg.jpg) no-repeat center center;
					background-size: cover;
					z-index: -1;

				}
			}

			img {
				width: 100%;
			}
		}

		.info {
			padding: 50px 25px;

			@include tablet-portrait {
				width: 50%;
				padding: 50px;
				max-width: 600px;
			}

			.headline {
				padding-bottom: 25px;

				h3 {
					padding-bottom: 10px;
				}
			}

			.copy {
				padding-bottom: 40px;
			}

			.cta {
				.btn {
					@include fold($charcoal, $white);

					&:hover {
						background: $charcoal;
					}
				}

				.detail {
					padding-top: 25px;
					a {
						text-decoration: underline;
					}
				}
			}
		}
	}

}