body.page-template-immune-support-index {
	
	section#immune-system {
		background: $seafoam;
		padding: 50px 0;
		text-align: center;

		@include tablet-portrait {
			padding: 100px 0;
		}

		.headline {
			padding-bottom: 50px;

			h3 {
				color: $charcoal
			}
		}

		.photo {
			img {
				margin: 0 auto;
			}
		}
	}

}