body.page-template-immune-support-detail {
	
	section#health-problems {
		background-image: url(images/molecules-bg.jpg);

		@include desktop {
			padding: 100px 0;
		}
		
		.wrapper {
			padding: 0;
		}

		.health-problems-wrapper {
			background: $seafoam;
			padding: 50px 25px 0 25px;

			@include tablet-landscape {
				padding: 90px 125px 50px 125px;
			}

			@include molecules-small;

			&:before {
				position: absolute;
				top: -50px;
				left: -50px;
				z-index: 0;
			}
		}

		.headline {
			text-align: center;
			padding-bottom: 80px;

		}


		.problems {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			.problem {
				width: 100%;
				text-align: center;
				margin-bottom: 100px;

				@include mobile-landscape {
					width: 50%;
				}



				p {
					font-family: $avenir-black;
					max-width: 420px;
					margin: 0 auto;
					font-size: 1em;
					line-height: 1.5em;

					&:before {
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 10px 10px 0 10px;
						border-color: $blue transparent transparent transparent;
						content: '';
						position: absolute;
						top: -25px;
						left: calc(50% - 10px);					
					}
				}
			}
		}
	}


		.copy.extended ul {
			padding-left: 20px;

			@include tablet-portrait {
				padding-left: 50px;
			} 
		}

	section#quote-slider {
		padding: 150px 0 0 0;

		@include tablet-landscape {
			padding: 125px 0 0 0;
		}
	}

	section.top-content + section.resources {
		padding-top: 0;
	}


	section.resources {
		padding: 100px 0 0 0;

		@include tablet-landscape {
			padding: 125px 0 100px 0;
		}

		&:before {
			content: '';
			display: block;
			width: 40%;
			max-width: 520px;
			background: $off-white;
			height: calc(100% - 100px);
			margin: 0 auto;
			position: absolute;
			left: calc(30%);

			@include tablet-landscape {
				left: calc(50% - 260px);
			}
		}

		.section-header {
			text-align: center;
			padding: 50px 0 50px 0;
			font-size: 0.6125em;
			letter-spacing: 0.25em;
			text-transform: uppercase;

			@include tablet-portrait {
				padding: 100px 0 100px 0;
			}
		}

		article {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			.photo {
				width: 100%;

				@include tablet-portrait {
					width: 60%;
					margin-right: 5%;
				}

			}

			.info {
				width: 100%;
				padding-top: 25px;

				@include tablet-portrait {
					width: 35%;
				}

				.headline {

				}

				.copy {
					padding: 25px 0;

				}

				.cta {
					a {
						@include fold($charcoal, $white);
					}

				}
			}
		}

		.slick-dots {
			top: auto;
			bottom:  -50px;
		}

		.slick-prev, .slick-next {
			top: auto;
			bottom:  -55px;
		}

		.slick-prev {
			left: calc(50% - 100px);
		}

		.slick-next {
			right: calc(50% - 100px);
		}
	}


	section.products {
		margin-top: 100px;
		padding-bottom: 50px;
		
		.wrapper {
			max-width: 1024px;
		}

		.bc-product-grid {

			.bc-product-card {
				
				margin: 0;
				width: 100%;
				flex-basis: 100%;
				padding-bottom: 50px;

				@include mobile-landscape {
					max-width: calc(50% - 20px);
				}

				@include tablet-portrait {
					max-width: calc(33.3333% - 30px);
					margin: 0;
				}
			}
		}



	}

}