body.blog,
body.category,
body.search-results {


	.page-header-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.page-title {
			width: 100%;
			padding-bottom: 25px;

			@include tablet-portrait {
				width: calc(50% - 25px);
				padding-bottom: 0;
			}

			p {
				font-size: 1.25em;
				line-height: 1.5em;
				padding-top: 20px;
			}
		}

		.categories-dropdown {
			width: 100%;
			max-width: 440px;

			@include tablet-portrait {
				
			}

		}

	}


	.categories-dropdown {
		position:relative;
		display: inline;

		&:after {
			content:"";
			pointer-events: none;
			position:absolute;
			top: 22px;
			right: 20px;
			width: 28px;
			height: 15px;
			background: url(images/down-arrow-slate.svg) no-repeat 0 0;
			background-size: cover;
		    
		}

		select#cat {
			appearance: none;
		    padding: .5em;
		    background: $white;
		    border: 2px solid #bbb;
		    border-radius: 0;
		    padding: 20px 20px 15px 20px;
		    font-size: 1em;
		    letter-spacing: 0.02em;
		    font-family: $avenir-black;
		    width: 100%;
		    text-transform: uppercase;
		    max-width: 440px;

		    option {
		    	text-transform: none;
		    }

		    &:active,
		    &:focus {
		    	outline: none;
		    }
			
			&::-ms-expand {
				display: none;
			}

		}
	}


	section.category-header {
		padding-bottom: 50px;

		h2 {
			color: $blue;
			font-family: $avenir-roman;
			border-bottom: 4px solid;
			padding-bottom: 10px;
			font-size: 1.5em;

			@include tablet-portrait {
				font-size: 2em;
			}
		}
	}

	section.featured-posts {
		padding-bottom: 50px;

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;
		}


		.featured-post {
			padding: 20px 20px 40px 20px;
			background: $seafoam;
			width: 100%;

			@include tablet-portrait {
				width: calc(55% - 20px);
			}

			.info {
				padding-top: 40px;

				.copy {
					padding: 25px 0;
				}

				.cta {
					.btn {
						@include fold($charcoal, $seafoam);

						&:hover {
							background: $white;
							color: $charcoal;

							@include fold($blue, $seafoam);
						}
					}
				}
			}
		}

		.popular-posts {
			width: 100%;
			padding-top: 50px;

			@include tablet-portrait {
				width: calc(45% - 20px);
				max-width: 580px;
				padding-top: 0;
			}

			.section-headline {
				padding-bottom: 15px;

				h4 {
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-size: 0.875em;
					color: $mid-gray;
				}

			}

			article.popular {
				display: flex;
				padding: 25px 0;
				border-bottom: 1px solid $light-gray;


				.photo {
					img {
						max-width: 64px;
					}
					
				}

				.info {
					flex: 1;
					padding-left: 25px;

					.headline {
						h3 {
							text-transform: none;
							letter-spacing: 0;
							line-height: 1.5em;
						}
					}

					.cta {
						padding-top: 15px;

						a.text {
							color: $blue;
							text-transform: uppercase;
							font-family: $avenir-black;
							text-decoration: underline;
						}
					}
				}
			}
		}

	}
}


section.posts {

	.alm-btn-wrap {
		padding: 0;
		

		.alm-load-more-btn {
			display: inline-block;
			margin: 50px 0 0 0;
			background: $white;
			color: $black;
			text-transform: uppercase;
			padding: 15px 20px 12px 20px;
			height: auto;
			width: auto;
			line-height: 1em;
			font-size: 1.125em;
			letter-spacing: 0.05em;
			font-weight: 900;
			border: 2px solid #aaa;
			border-radius: 0;
			transition: all 0.2s ease-in;

			&.done {
				display: none;
			}

			&.loading {
				&:before {
					display: none;
				}
			}

			&:hover {
				background: #aaa;
				color: $white;

			}
		}
	}
}



body.search-results {

	.page-title {
		h2 {
			padding-top: 15px;
			font-size: 1.5em;
		}
	}

	section.all-posts {
		padding-top: 0;
		background: $white;

	}

}
