body.page-template-pro-landing,
body.page-template-shop-products,
body.page-template-product-category {

	section.products {
		.wrapper {
			@include tablet-portrait {
				display: flex;
				justify-content: space-between;

				.product-grid {
					width: calc(80% - 20px);
					padding-top: 0;

				}

				.sidebar {
					width: calc(20% - 20px);
				}
			}
		}

		.product-grid {
			padding-top: 50px;
		}
	}


	section.sidebar {
		padding-bottom: 25px;

		@include tablet-portrait {
			padding-bottom: 0;
			padding-right: 25px;
		}
		
		.categories {

			.category + .category {
				padding-top: 25px;
			}


			h4 {
				font-family: $avenir-medium;
				line-height: 1.25em;

				a {
					&:hover {
						color: $blue;
						text-decoration: underline;
					}
				}
			}
		}
	}	
}

section.sidebar.all .categories h4.all,
section.sidebar.del-immune-v-natural-immune-system-supplements .categories h4.del-immune-v-natural-immune-system-supplements,
section.sidebar.delpro-natural-probiotic-supplements .categories h4.delpro-natural-probiotic-supplements,
section.sidebar.dps-throat-spray .categories h4.dps-throat-spray,
section.sidebar.pet-products .categories h4.pet-products {
	font-family: $avenir-black;
}

body.page-template-product-category {
	.grid-header {
		h1 {
			padding-bottom: 10px;
			font-size: 1.5em;

			@include tablet-landscape {
				font-size: 2.25em;
			}
		}
	}
}