body.single-bigcommerce_product {

	main.site-main {
		padding: 0 0 100px 0;
	}

	section.page-header {
		padding-bottom: 25px;
	}

	.bc-product-single {
		@include wrapper-padding;
	}


	.bc-product-single .bc-product__gallery {
		flex: 0 0 auto;
		width: 40%;
	}

	.bc-product-single .bc-product-single__meta {
		width: calc(60% - 60px);
	}

	.swiper-container {
		overflow: visible;
	}

	.bc-product-gallery__image-slide img {
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
	}

	.bc-product-gallery__thumb-slide {
	    width: calc(16.6666% - 10px);

		&:hover {
			cursor: pointer;
		}
	}

	.bc-product__description {
		p, ol, ul {
			padding-bottom: 20px;
		}

		ul {
			list-style-type: disc;
		}

		ol {
			list-style-type: decimal
		}

		ul, ol {
			padding-left: 20px;

			li {

				+ li {
					padding-top: 10px;
				}
			}
		}

		img {
			margin-bottom: 20px;
		}
	}


	.bc-product-review-form {
		.bc-form {
			padding-top: 25px;
		}
	}

	.bc-product-review__cancel-write-btn {
		margin-top: 10px;
	}

	.bc-product-card--related .bc-product__meta {
		padding-top: 20px;
	}

	.bc-product-flag--sale {
		background: $red;
	}

}