body.single-post {

	section.page-header {
		padding-bottom: 50px;
	}

	article.post {
		.wrapper {
			max-width: 840px;
		}

		section.article-header {
			.headline {
				text-align: center;
			}

			.share {
				padding: 35px 0;
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;

				h5 {
					text-transform: uppercase;
					letter-spacing: 0.05em;
					color: $mid-gray;
					width: 100%;
					padding-bottom: 25px;
				}

				a {
					display: block;
					margin: 0 10px;
				}
			}

		}

		section.article-body {
			padding: 50px 0 100px 0;
;

			img {
				width: auto !important;
				height: auto !important;
				margin: 0 auto 40px auto;

				@include tablet-portrait {
					&.alignleft {
						float: left;
						width: 33.3333% !important;
						margin-right: 40px;
					}

					&.alignright {
						float: right;
						width: 33.3333% !important;
						margin-left: 40px;

					}
				}

			}


			.wp-caption {
				width: auto !important;
				text-align: center;
				padding-bottom: 40px;

				img {
					width: auto !important;
					height: auto !important;
					margin: 0 auto;
				}

				.wp-caption-text {
					font-size: 0.8125em;
					padding: 10px 0 0 0;
					font-style: italic;

				}
			}
		}
	}


	section.similar-posts {
		background: $off-white;
		padding: 50px 0;
		margin-bottom: -50px;
		z-index: 1;

		@include tablet-portrait {
			padding: 100px 0;
		}

		.post-wrapper {
			article.list {
				@include tablet-portrait {
					width: calc(33.3333% - 25px);

					.headline {
						h3 {
							max-width: 300px;
						}
					}
				}
			}
		}

	}

	footer:before {
		z-index: 1;
	}





}