body {
	background: #fff;
}

.wrapper {
	@include wrapper-padding;

}

.cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

section#main {
	padding: 100px 0;
}

.inset {
	.wrapper {
		max-width: 950px;
	}

	.content {
		padding: 40px 40px 0 40px;

		@include tablet-portrait {
			padding: 35px 60px 0 60px;
		}
	}
}
