/* Media Queries
----------------------------------*/
$mobile-portrait-width: 480px;
$mobile-landscape-width: 568px;
$tablet-portrait-width: 768px;
$tablet-landscape-width: 1024px;
$desktop-width: 1280px;

@mixin mobile-portrait {
	@media screen and (min-width: #{$mobile-portrait-width}) {
		@content;
	}
}

@mixin mobile-landscape {
	@media screen and (min-width: #{$mobile-landscape-width}) {
		@content;
	}
}

@mixin tablet-portrait {
	@media screen and (min-width: #{$tablet-portrait-width}) {
		@content;
	}
}

@mixin tablet-landscape {
	@media screen and (min-width: #{$tablet-landscape-width}) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: #{$desktop-width}) {
		@content;
	}
}


@mixin wrapper-padding {
	margin: 0 auto;
	max-width: 1200px; 
	padding: 0 25px;
	transition: padding 0.2s ease-in;

	@media screen and (min-width: 1250px) {
		padding: 0;
	}
}

@mixin aspect-ratio($width, $height) {
	position: relative;

	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	
	> .content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

@mixin fold($foreground, $background) {
	&:before {
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 20px 20px 0 0;
		border-color: $foreground transparent transparent transparent;
		position: absolute;
		width: 0;
		bottom: 0; 
		right: 0;
		z-index: 10;
		transition: all 0.2s ease-in;
	}

	&:after {
		content: '';
		position: absolute;
		width: 0;
		bottom: 0; 
		right: 0;
		border-bottom: 20px solid $background;
		border-left: 20px solid transparent;
		z-index: 10;
	}
}

@mixin molecules-small {
	&:before {
		display: block;
		content: "";
		width: calc(191px / 1.5);
		height: calc(118px / 1.5);
		background: url(images/molecules-small.png) no-repeat 0 0;
		backgorund-size: 100%;

		@include tablet-landscape {
			width: 191px;
			height: 118px;
		}
	}
}


@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}
