html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea, button {
	color: $slate;
	font: 400 100%/1 $avenir-roman;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $avenir-black;
}

a {
	color: $slate;
	transition: all 0.3s ease-in-out;
}

.headline {

	h1 {
		font-size: 1.75em;
		line-height: 1.125em;
		
		@include tablet-landscape {
			font-size: 3em;
		}
	}

	h2 {
		font-size: 1.5em;
		line-height: 1.125em;
		
		@include tablet-landscape {
			font-size: 2em;
		}
	}

	h3 {
		font-size: 1em;
		line-height: 1.125em;
		text-transform: uppercase;
		letter-spacing: 0.15em;
		
		@include tablet-landscape {
			font-size: 1.25em;
		}
	}


	h4 {
		font-size: 1.25em;
		line-height: 1.125em;
		
		@include tablet-landscape {
			font-size: 1.5em;
		}
	}

}

.copy {

	&.p2 {
		font-size: 1em;
		line-height: 1.7777em;

		@include tablet-landscape {
			font-size: 1.25em;
		}

	}

	&.p3 {
		font-size: 0.875em;
		line-height: 1.375em;
	}

	&.extended {

		$vertical-padding: 40px; 
		p {
			padding-bottom: $vertical-padding;
		}

		ul, ol {
			padding-bottom: $vertical-padding;
			padding-left: 50px;

			li {

				& + li {
					padding-top: 15px;
				}
			}
		}

		ol {
			list-style-type: decimal;
		}

		ul {
			list-style-type: disc;
		}

		blockquote {
			margin: 0 0 $vertical-padding 0;
			padding: 5px 0 5px 50px;
			border-left: 5px solid $blue;
			display: block;

			p {
				padding-bottom: 0;
				font-size: 0.875em;

				& + p {
					padding-top: $vertical-padding;
				}

			}

		}

		strong {
			font-weight: normal;
			font-family: $avenir-black;
		}

		a {
			color: $blue;
			text-decoration: underline;
		}
	}

	.cta {
		.btn {
			color: $white;
			text-decoration: none;
			@include fold($charcoal, $white);
			font-size: 1.125em;

			&:hover {
				background: $charcoal;
			}
		}
	}
}

.btn,
.bc-btn,
button.bc-btn {
	font-family: $avenir-black;
	font-weight: normal;
	text-transform: uppercase;
	border: none;
	display: inline-block;
	padding: 0 30px;
	line-height: 48px;
	font-size: 1em;
	height: 45px;
	position: relative;
	transition: all 0.2s ease-in;

	@include tablet-landscape {
		padding: 0 35px;
		font-size: 1.25em;
		height: 57px;
		line-height: 60px;
	}


	&.white {
		background: $white;
		color: $black;

		&:hover {
			background: $blue;
			color: $white;
		}
	}

	&.blue {
		background: $blue;
		color: $white;
	}
}

body .bc-product-card .bc-btn,
body .entry-content button.bc-btn,
.bc-cart-actions button.bc-btn {
	background: $blue;
	color: $white;

	@include fold($charcoal, $white);

	&:focus,
	&:active {
		outline: none;
	}
}

body .entry-content button.bc-btn, {
	font-size: 1.125em;
}

.bc-load-items__trigger .bc-load-items__trigger-btn:hover,
.bc-load-items__trigger .bc-no-results__button:hover {
	background: $blue !important;
	color: $white !important;
	border-color: $blue !important;
}