/* Colors
----------------------------------*/
$white: #fff;
$off-white: #f6f6f6;
$light-gray: #d9d9d9;
$mid-gray: #7B7977;
$charcoal: #424242;
$slate: #2a2a2a;
$black: #000;

$blue: #0571c2;
$dark-blue: #1b609e;
$seafoam: #91d5da;
$red: #bd3f2e;


/* Typography
----------------------------------*/
$avenir-roman: 'AvenirLTPro-Roman', sans-serif;
$avenir-medium: 'AvenirLTPro-Medium', sans-serif;
$avenir-black: 'AvenirLTPro-Black', sans-serif;

