.grid-header {
	padding-bottom: 50px;

	h1 {
		color: $blue;
		font-family: $avenir-medium;
		border-bottom: 3px solid;
		padding-bottom: 5px;
	}
}


.bc-product-grid {
	padding: 0;

	.bc-product-card {
		margin: 0;
		width: auto;
		max-width: calc(50% - 20px);
		flex-basis: 100%;
		margin-bottom: 75px;

		& > .bc-product-card {
			max-width: 100% !important;
		}

		@include tablet-portrait {
			max-width: calc(33.3333% - 30px);
			margin-bottom: 100px;
		}

		.bc-product-form__quantity {
			display: none;
		}



		.bc-product__meta {
			padding: 0 0 10px 0;
			flex: 0;


			.bc-product__title {
				font-size: 1.125em;
				line-height: 1.25em;
				font-weight: normal;
				margin: 0;
				padding: 0 0 5px 0;

				@include tablet-portrait {
					font-size: 1.25em;

				}

				a:hover {
					opacity: 0.6;
				}
			}

			.bc-product__pricing {
				padding: 0 0 10px 0;

				.bc-product__price {
					font-size: 0.875em;

					@include tablet-portrait {
						font-size: 1em;
					}
				}

				.bc-product__original-price {
					font-style: normal;
					color: $mid-gray;
					margin: 0 5px 0 0;
				}

				.bc-product__price--sale {
					color: $blue;
				}

			}
		}

		.bc-product-flag--sale {
			background: #BD3F34;
			color: $white;
			width: 60px;
			height: 60px;
			line-height: 65px;
			font-size: 0.875em;
			letter-spacing: 0.1em;
			font-weight: 900;
			z-index: 1;
		}

		.bc-product__actions {
			padding: 25px 0 0 0;
			margin-top: auto;

			.bc-btn--form-submit {
				max-width: 200px;
				margin: 0 auto;
				display: block;
				font-size: 1.125em;
				font-weight: normal;
				height: 54px;
				font-family: $avenir-medium;

				&:hover {
					background: $charcoal;
					opacity: 1;
				}
			}
		}

		.bc-product__actions + .bc-product-details  {
			margin-top: 0;
		}

		.bc-product-details {
			text-align: center;
			padding: 25px 10px 0 10px;
			margin-top: auto;

			a {
				color: $dark-blue;
				display: inline-block;
				font-family: $avenir-black;
				text-transform: uppercase;
				font-size: 0.8125em;
				padding-bottom: 2px;
				border-bottom: 2px solid;

				@include tablet-landscape {
					font-size: 1.125em;
				}

				&:hover {
					color: $charcoal;
				}
			}

		}

		.bc-quickview-trigger {
			border: none;
			box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);

			&:hover {
				cursor: default;
			}

			&:focus,
			&:active {
				outline: none;
			}

			&--hover {
				background-color: rgba(255, 255, 255, 0.9);
				display: none;

				&-label {
					background-color: $charcoal;
					color: $white;
					border-radius: 0;
					max-width: 150px;
					font-family: $avenir-black;
					padding: 16px 20px 14px 20px;
					font-size: 0.75em;
					text-transform: uppercase;
					letter-spacing: 0.05em;

					@include fold($blue, $white);
				}
			}
		}
	}
}

.bc-load-items__trigger {
	.bc-load-items__trigger-btn,
	.bc-no-results__button {
		color: $black;
		font-family: $avenir-black;
		text-transform: uppercase;
		font-size: 1.125em;
		border: 1px solid $light-gray;
		padding: 0 30px;
		line-height: 48px;
		font-size: 1em;
		height: 45px;
		transition: all 0.2s ease;

		@include tablet-landscape {
			padding: 0 35px;
			font-size: 1.25em;
			height: 57px;
			line-height: 60px;
		}

		&:hover {
			background: $light-gray;
		}


		i {
			display: none;
		}
	}
}


section.product-grid {
	.bc-product-grid {
		justify-content: space-between;
	}
}