
section.all-posts {
	background: $off-white;
	padding: 50px 0;
	margin-bottom: -50px;


	.section-headline {
		padding-bottom: 80px;
	}

	.alm-reveal {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	article.list {
		width: 100%;
		margin-bottom: 50px;
		padding-left: 15px;
		border-left: 5px solid $seafoam;

		@include mobile-landscape {
			width: calc(45% - 20px);
		}

		.info {
			padding: 10px 0;

			.headline {
				h3 {
					text-transform: none;
					letter-spacing: 0;
					font-size: 1.125em;
					line-height: 1.5em;
				}
			}

			.cta {
				padding-top: 15px;

				a.text {
					color: $blue;
					text-transform: uppercase;
					font-family: $avenir-black;
					text-decoration: underline;
					font-size: 0.875em;
				}
			}
		}

	}
}