section.immune-support-nav {
	padding: 50px 0 50px 0;

	@include tablet-portrait {
		padding: 50px 0 100px 0;
	}

	.headline {
		text-align: center;
		padding-bottom: 50px;
	}

	.item-wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.item {
			background: $off-white;
			@include fold($blue, $white);
			margin-bottom: 25px;
			transition: background 0.2s ease-in;


			&:hover {
				background: $seafoam;
			}

			&:nth-last-child(-n+5):first-child,
			&:nth-last-child(-n+5):first-child ~ .item {
				width: calc(50% - 12.5px);

				@include mobile-landscape {
					width: calc(33.3333% - 12.5px);
				}

				@include tablet-landscape {
					width: calc(20% - 25px);
					margin-bottom: 0;

				}
			}
			
			&:nth-last-child(n+6):first-child,
			&:nth-last-child(n+6):first-child ~ .item {
				width: calc(50% - 12.5px);

				@include mobile-landscape {
					width: calc(33.3333% - 12.5px);
				}

				@include tablet-landscape {
					width: calc(16.6666% - 25px);
					margin-bottom: 0;

				}
			}

			.image {
				overflow: hidden;
				width: 100%;
		
				a {
					display: block;
					width: 260px;
					height: 120px;
					background-size: 90%;
					background-position: 0 -30px;							
				}
			}

			.info {
				width: 100%;
				flex: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				height: 80px;
				padding: 0 20px;

				a {
					font-family: $avenir-black;
					text-decoration: underline;
					display: inline-block;
					line-height: 1.25em
				}
			}
		}
	}
}