.middle-content {
	background: $seafoam;
	padding: 10px 0 50px 0;

	@include tablet-portrait {
		padding: 65px 0 100px 0;
	}


	.headline {
		text-align: center;
		padding-bottom: 50px;

	}


	.nf-form-cont {

		.nf-form-title,
		.nf-before-form-content {
			display: none;
		}

		.nf-error-msg,
		.ninja-forms-req-symbol {
			color: red;
		}

		.nf-error .ninja-forms-field {
			border-color: red;
		}	

		.nf-field-label {
			margin-bottom: 5px;
			label {
				font-weight: 400;
				font-size: 0.875em;
			}
		}

		.nf-after-field .nf-error-msg {
			padding-top: 5px;
			font-size: 0.875em;
		}

		.nf-field-element > *:active,
		.nf-field-element > *:focus {
			outline: none;
		}

		.nf-field-element input,
		.nf-field-element textarea {
			height: 50px;
			padding: 10px;
			font-size: 1.25em;
			border: 1px solid $light-gray;

		}
		
		.nf-field-element select {
			height: 50px;
			appearance: none;
			padding: 10px;
			background: $white;
			border-radius: 0;
			border-color: 1px solid $light-gray;
		}

		.list-select-wrap .nf-field-element:after {
			display: block;
			content: '';
			width: 20px;
			height: 15px;
			background: url(images/down-arrow-blue.svg) no-repeat 0 0;
			background-size: 100%;
			position: absolute;
			right: 20px;
			top: 20px;
			z-index: 10;
		}

		.nf-field-element textarea {
			height: 200px;

		}

		.listmultiselect-wrap {
			select {
				height: auto;
			}
		}

		.submit-wrap {
			.nf-field-element { 
				display: inline-block;
				width: auto;
				@include fold($blue, $seafoam);

				&:hover {
					@include fold($white, $seafoam);
				}

				input {
					font-family: $avenir-black;
					font-weight: normal;
					text-transform: uppercase;
					border: none;
					display: inline-block;
					padding: 0 30px;
					line-height: 48px;
					font-size: 1em;
					height: 45px;
					position: relative;
					background: $off-white;
					color: $slate;
					transition: all 0.2s ease-in;


					&:hover {
						background: $blue;
					}

					@include tablet-landscape {
						padding: 0 35px;
						font-size: 1.25em;
						height: 57px;
						line-height: 60px;
					}
				}
			}
		}
	}

}

