section.page-header {
	padding: 50px 0;

	@include tablet-portrait {
		padding: 100px 0 75px 0;
	}

	.breadcrumbs {
		padding-bottom: 25px;

		@include mobile-landscape {
			display: flex;
		}

		.level {
			font-size: 1em;
			padding: 5px 0;

			@include mobile-landscape {
				padding: 0;
			}

			&.active {
				font-family: $avenir-black;
			}

			a:hover {
				text-decoration: underline;
			}

			.caret {
				display: inline-block;
				padding: 0 5px;
			}
		}
	}
}