section#quote-slider {
	padding: 150px 0 100px 0;

	@include tablet-landscape {
		padding: 125px 0 100px 0;
	}
	
	.slick-prev,
	.slick-next {
	    top: -80px;

		@include tablet-landscape {
			top: -55px;
		}
	}

	.slick-prev {
		left: calc(50% - 100px);
	}

	.slick-next {
		right: calc(50% - 100px);
	}

	.slick-dots {
		top: -75px;

		@include tablet-landscape {
			top: -50px;
		}
	}

	.quote {

		&:active,
		&:focus {
			outline: none;
		}

		@include tablet-portrait {
			display: flex;
			align-items: center;
			justify-content: center;

			.source {
				order: -1;
				width: 20%;
				max-width: 150px;
			}

			.copy {
				width: calc(70% - 50px);
				margin-left: 50px;
			}
		}

		.copy {

			@include desktop {
				padding-top: 50px;
			}

			blockquote {
				padding: 0;
				margin: 0;

				p {
					color: $dark-blue;
					font-size: 1.25em;
					line-height: 1.25em;

					@include tablet-portrait {
						font-size: 1.75em;
						line-height: 1.5em;
					}

					@include desktop {
						font-size: 2.25em;
					}
				}
			}
		}
	}

	.source {
		padding-top: 25px;

		@include tablet-portrait {
			padding-top: 0;
		}

		.photo {
			display: none;

			@include tablet-portrait {
				display: block;
				z-index: 10;
				max-width: 150px;

				img {
					margin: 0 auto;
				}
			}
		}

		.details {
			@include tablet-portrait {
				text-align: center;
				background: $seafoam;
				@include aspect-ratio(1, 1);
				z-index: 5;
				top: -40px;
				max-width: 150px;

				.content {
					display: flex;
					flex-direction: column;
					justify-content: center;
				}
			}

			h4 {
				padding-bottom: 5px;
				font-size: 1.125em;
			}

			h5 {
				font-family: $avenir-medium;
				font-size: 0.875em;
			}
		}
	}
}