section.top-content {
	padding-bottom: 50px;

	@include tablet-portrait {
		padding-bottom: 100px;
	}

	.content {
		background: $white;
		transform: translateY(-45px);
		margin-bottom: -45px;

		@include tablet-portrait {
			transform: translateY(-90px);
			margin-bottom: -90px;
		}


	}

	section.page-header {
		padding: 0 0 25px 0;
	}
}