section.bc-cart {
	max-width: 1200px;

	.bc-product-flag--grey,
	.bc-product__thumbnail-link {
		display: none;
	}

	.bc-cart-header>div {
		padding: 20px 0;
		text-transform: uppercase;
	}


	.bc-cart-item {
		padding: 20px 0;

		&:last-of-type {
			border-bottom: none;
		}
	}

	.bc-cart-item-image {
		flex: 0;
	}

	.bc-cart-item-meta {
		padding-top: 15px;
	}

	.bc-cart-item__remove-button {
		border: none;
		padding: 18px 0 0 0;
		font-weight: bold;
	}

	.bc-cart-item-meta .bc-cart-item__product-title {
		font-size: 1.125em;
	}

	.bc-cart-item-total-price {
		font-size: 1em;
	}


	.bc-cart-item-quantity input.bc-cart-item__quantity-input {
		border: 2px solid $light-gray;
		width: 100%;
		max-width: 100px;
		text-align: center;
		padding: 15px 0 12px 10px;
		font-size: 1.25em;
		font-weight: bold;
		background: $off-white;

		&:active,
		&:focus {
			outline: none;
		}
	}


	.bc-cart-footer {
		background: $seafoam;
		max-width: 360px;
		margin-left: auto;
		padding-top: 0px;
		margin-top: 25px;

		div + div {
			padding-top: 25px;
		}
	}

	.bc-cart-subtotal__label,
	.bc-cart-tax__label {
		text-align: left;
		font-size: 1em;
		text-transform: uppercase;
		padding: 0 0 0 20px;
		font-family: $avenir-black;
		letter-spacing: 0.05em;

	}

	.bc-cart-subtotal__amount,
	.bc-cart-tax__amount {
		font-size: 1em;
		font-family: $avenir-medium;
		text-align: right;
		padding: 0 20px 0 0;

	}

	.bc-cart-actions {
		background: $white;
		margin-top: 20px;

		form {
			display: block;
			width: 100%;
		}
		
		button.bc-btn {
			font-size: 1em;
			font-family: $avenir-medium;
			letter-spacing: 0.05em;
			line-height: 22px;
			width: 100%;
			max-width: 360px;

			@include tablet-landscape {
				line-height: 32px;
			}

		}
	}

	@media (min-width: 960px) {
		.bc-cart-item-quantity,
		.bc-cart-header__qty {
		    flex: 0 0 200px;
		}
	}


}