section.bc-account-login {
	#loginform {
		padding-bottom: 15px;
	}

	.bc-btn--register {
		color: $white;
		text-decoration: none;
	}
}

.bc-subnav {
	padding-bottom: 20px;
	ul.bc-subnav__list {
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		padding: 0;

		.bc-subnav__list-item {
			margin: 0;

			& + .bc-subnav__list-item {
				padding: 10px 0 0 0;
				width: 100%;

				@include tablet-portrait {
					padding: 0 0 0 50px;
					width: auto;
				}
				
			}
		}
	}
}