section#dropdowns {
	display: none;

	@include tablet-portrait {
		display: block;
	}

	$dropdown_height: 350px;

	.dropdown-wrapper {
		z-index: 3;
		transform: translateY(-$dropdown_height);
		opacity: 0;
		transition: all 0.4s ease;
		width: 100%;
		height: $dropdown_height;
		margin-bottom: -$dropdown_height;

		&.active {
			top: 0;
			opacity: 1;
			transform: translateY(0);

			.dropdown.active {
				opacity: 1;
				z-index: 10000;
			}
		}

	}

	.dropdown {
		width: 100%;
		height: $dropdown_height;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		transition: all 0.4s ease;
		background: $white;

		.wrapper {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
		}

		.item-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex: 1;
			padding: 50px 0;

			& > * {
				flex: 1;
			}
		}

		.item {
			text-align: center;
			margin: 0 10px;

			.image {
				img {
					margin: 0 auto;
				}
			}

			.info {
				max-width: 180px;
				margin: 0 auto;
				padding: 20px;

				h4 {
					font-size: 0.875em;
					line-height: 1.125em;

					@include desktop {
						font-size: 1em;
					}
				}
			}
		}
	}

	section#products-dropdown {
	}

	section#immune-support-dropdown {
		height: 325px;
		.item {
			flex: none;
		    width: calc(16.6666% - 20px);
		}
	}	

	section#resources-dropdown {
	}

}

.pro-accounts {
	background: $red;
	color: $white;
	padding: 20px 0;
	text-align: center;

	&:before {
		content: '';
		display: block;
		width: 30px;
		height: 42px;
		background: url(images/stethiscope.png) no-repeat 0 0;
		background-size: 100%;
		position: absolute;
		left: calc(50% - 19px);
		top: calc(60px / 2 * -1);

		@include tablet-portrait {
			width: 39px;
			height: 55px;
			left: calc(50% - 325px);
			top: calc(55px / 2 * -1);
		}
	}

	a {
		color: $white;
		font-weight: bold;
		font-size: 1.125em;
	}
}