nav.mobile {
	padding: 25px 0 0 0;
	background: $white;
	position: fixed;
	top: 86px;
	left: 0;
	width: 100%;
	height: calc(100vh - 86px);
	z-index: -1;
	opacity: 0;
	transition: all 0.4s ease;
	overflow-y: scroll;
	overflow-x: hidden;

	@include tablet-portrait {
		display: none !important;
	}

	.search {
		padding: 10px 25px 0 25px;
		width: 100%;

		form {
			width: 100%;
		}

		.search-field {
			appearance: none;
			border: none;
			border-bottom: 1px solid $black;
			color: $black;
			padding-left: 1px;
			font-size: 1em;
			max-width: 260px;
			width: 100%;
			

			@include placeholder {
				color: $black;
			}

			&:focus,
			&:active {
				outline: 0;
			}
		}

		.search-submit {
			background: transparent url(images/search-black.svg) no-repeat 0 0;;
			border: none;
			text-indent: -9999px;
			width: 24px;
			height: 24px;
			display: inline-block;
			padding: 0;
			margin: 0;
			background-size: cover;
		}


	}

	.pro-accounts {
		margin-top: 50px;
		padding: 20px 20px;
		width: 100%;

		p {
			font-size: 0.875em;
			line-height: 1.5em;
			max-width: 300px;
			margin: 0 auto;

			a {
				font-size: 1em;
				text-decoration: underline;
			}
		}


	}

	.slide-wrapper {
		width: 200%;
		display: flex;
		flex-wrap: nowrap;
		transition: all 0.4s ease;
		align-items: stretch;

		&.subnav-active {
			transform: translateX(calc(-50%));

			.main-screen {
				opacity: 0;
			}

			.subnav-screen {
				opacity: 1;
			}
		}


		.main-screen,
		.subnav-screen {
			width: 100%;
			height: 100%;
			transition: opacity 0.2s ease;
		}
	}

	.main-screen {
		padding: 25px 0;

		a {
			display: block;
			font-family: $avenir-black;
			font-size: 1.5em;
			position: relative;

			& + a {
				margin-top: 25px;
				border-top: 1px solid $slate;
				padding-top: 25px;
			}

			&.subnav {
				&:after {
					display: block;
					content: '';
					width: 10px;
					height: 20px;
					background: url(images/right-arrow-blue.svg) no-repeat 0 0;
					background-size: 100%;
					position: absolute;
					right: 5px;
					bottom: 2px;
				}				
			}

			&.small {
				font-family: $avenir-medium;
				font-size: 1.125em;
			}
		}
	}

	.subnav-screen {
		opacity: 0;
		.subnav {
			display: none;

			&.show {
				display: block !important;
			}
		}

		.back {
			padding-bottom: 25px;
			a {
				display: block;
				width: 16px;
				height: 32px;
				background: url(images/right-arrow-blue.svg) no-repeat 0 0;
				background-size: 100%;
				transform: rotate(180deg);
			}
		}

		.header {
			padding-bottom: 15px;

			h5 {
				font-family: $avenir-black;
				font-size: 1.5em;
				
				a {
					display: block;
					
					&:hover {
						text-decoration: underline;
					}
				}
			}

		}

		.links {
			padding: 0 0 0 25px;
			a {
				display: block;
				font-family: $avenir-black;
				font-size: 1.25em;
				line-height: 1.25em;
				padding: 15px 0;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

}


body.mobile-nav-open {

	@media screen and (max-width: 767px) {
		header {
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 1000;
		}

		nav.mobile {
			z-index: 1000;
			opacity: 1;
		}

	}

}